Consumo/.vs/Consumo/FileContentIndex/ed00ab34-90a7-4ae3-afee-60a49cdb6c4e.vsidx
Servicio/.vs/Servicio/FileContentIndex/84902f13-a4f4-4c97-abbb-b6891effc477.vsidx
Servicio/.vs/Servicio/FileContentIndex/**
Servicio/Servicio/Properties/PublishProfiles/FolderProfile.pubxml
Servicio/Servicio/Properties/PublishProfiles/FolderProfile.pubxml
Servicio/Servicio/Web.config
Servicio/Servicio/bin/Servicio.dll.config
Servicio/Servicio/obj/Release/TransformWebConfig/original/Web.config
Servicio/Servicio/Properties/PublishProfiles/FolderProfile.pubxml.user
.vs/Saludo_Parametro/FileContentIndex/042221c3-2a79-4dad-ad36-337dc9c27753.vsidx
