Consumo/.vs/Consumo/FileContentIndex/ed00ab34-90a7-4ae3-afee-60a49cdb6c4e.vsidx
Servicio/.vs/Servicio/FileContentIndex/84902f13-a4f4-4c97-abbb-b6891effc477.vsidx
Servicio/.vs/Servicio/FileContentIndex/**